@import "../../assets/style/const.less";

.BuildForm{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  .BuildFormNav{
    width: 100%;
    box-shadow: 0 0 10px #00000046;
    text-align: center;
    padding: 12px 24px;
  }
  .BuildFormContainer{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
}

/*左侧容器*/
.FormComp{
  width: 360px;
  height: 100%;
  overflow: auto;
  box-shadow: 0 0 10px #00000046;
}
.FormCompItem{
  width: 100%;
  color: #fff;
  h3{
    font-size: 14px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.85);
    padding: 16px 0 0 16px;
  }
}
.FormCompInfo{
  display: flex;
  flex-wrap: wrap;
  padding-right: 2%;
  .FormCompInfoItem{
    width: 48%;
    margin: 16px 0 0 2%;
  }
}
.FormCompHide{
}

/*中部编辑容器*/
.FormEditor{
  flex: 1;
  height: 100%;
  .FormInfo{
    width: 100%;
    height: 100%;
  }
  .FormInfoDrager{
    width: 100%;
    height: 100%;
    padding: 24px;
    overflow: auto;
    .FormInfoDragerItem{
      border: 1px dashed @main-color;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
    }
    .FormInfoDragerItemSelected{
      border-color: #f50f50;
    }
  }
}

/*右侧属性设置容器*/
.FormAttrSetting{
  width: 420px;
  height: 100%;
  overflow: auto;
  box-shadow: 0 0 10px #00000046;
}
.FormAttrSettingGlobal{
  width: 100%;
}
.FormAttrSettingComp{
  width: 100%;
}
.FormAttrSettingHide{
}
